name: Hello {{ project_name }}

on:
  push:
    branches: [ master, dev, main ]
  pull_request:
    branches: [ master, dev, main ]
  workflow_dispatch:

jobs:
  hello:
    runs-on: ubuntu-latest
    
    steps:
      - name: Print third message
        run: echo "hello {{ project_name }}"

      - name: Print new message
        run: echo "hello new {{ project_name }}"
