name: Hello {{ project_name }}

on:
  push:
    branches: [ main, ref_br ]
  pull_request:
    branches: [ main, ref_br ]
  workflow_dispatch:

jobs:
  hello:
    runs-on: ubuntu-latest
    
    steps:
      - name: Print one message
        run: echo "hi {{ project_name }}"
